.mat-form-field-wrapper {
    width:10px;
}

.container {
  margin: auto;
  text-align: center;
}
  
button:not(.eliminar) {
  margin: 2rem 1rem;
}
  
p {
  width: 32%;
  height: 70%;
  border: 2px dotted rgb(0, 0, 0);
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}
  
.aceptar {
  margin: 0 1rem;
}
  
.lista-utiles {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 40%;
  margin: auto;
  text-align: left;
}

.aceptar {
  color: black;
}

.add {
  background-color: rgb(33, 140, 182);
}

.color1{
  border-color: green;
  color: green;
}

.color2{
  border-color: rgb(33, 140, 182);
  color: rgb(33, 140, 182);
}

.delete {
  background-color: rgb(207, 41, 41);
}

.eliminar{
  background-color: rgb(207, 41, 41);
  color: white;
}
  