<form [formGroup]="form" class="container">

    <button
      mat-flat-button 
      type="button"
      color="primary"
      (click)="agregarmaterial()"
      class="add">
      +
    </button>

    <button 
      mat-flat-button 
      type="reset"
      color="warn"
      (click)="eliminarUtiles()"
      class="delete">
      Eliminar Todo
    </button>


  <div formArrayName="utiles">
    <form [formGroup]="form1">
      <p *ngFor="let util of utilesEscolares.controls; let id = index">
        <mat-form-field appearance="outline">
        <mat-label>Utiles Escolares</mat-label>
         <input 
          matInput type="text" 
          placeholder="Ingrese material"
          formControlName="nombre"
          class="nombre"
          [class.is-invalid]="nombreNoValido"   
          >
           
        <mat-error *ngIf="nombreNoValido">Ingresar datos validos</mat-error>
        </mat-form-field>
        <mat-checkbox 
          type="checkbox"
          class="example-margin"
          formControlName="aceptar"
          class="aceptar">
          Aceptar
        </mat-checkbox>
        <button 
          mat-flat-button 
          type="reset"
          color="warn"
          (click)="eliminarUtil(id)"
          class="eliminar">
          Eliminar
        </button>
      </p>


     <button 
     class="color1" 
     mat-stroked-button 
     (click)="guardarCajas()" 
     [disabled]="form1.invalid">
     Guardar
    </button>

     <button 
     class="color2"
     mat-stroked-button 
     (click)="limpiarCajas()">
     Limpiar
    </button>

    </form> 
  </div>

<div [innerHTML]="lista2" class="lista-utiles">Lista de utiles guardados:</div>
  
</form>
